@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background: linear-gradient(90deg, #0C0F18, #0D111C);
    background-image: url(assets/imagens/w15.jpg);
    background-size: cover;
    font-family: Archivo Narrow;
}

.cabecalho{
    padding: 0% 15%;
}

.cabecalho__conteudo{
    display: flex;
    justify-content: center;
}

.cabecalho__conteudo img {
    width: 10%;
}

.headline{
    padding: 2% 15%;
}

.headline__conteudo{
    display: flex;
    justify-content: center;
    gap: 4%;
}

.headline__conteudo img {
    width: 43%;
    border-radius: 10px;
}

.headline__texto{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.headline__texto h1{
    font-size: 3rem;
}

.headline__texto p {
    font-size: 1.1rem;
}

.headline__texto button{
    color: black;
    padding: 2%;
    width: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.servicos{
    padding: 2% 10%;
}

.servicos__conteudo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.servicos__conteudo__headline{
    padding: 0% 10%;
    display: flex;
    align-items: center;
    gap: 10%;
}

.container__servicos{
    display: flex;
    gap: 2%;
}

.container__servicos__conteudo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(50deg,#00002E,#00003E);
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px white;
}

.container__servicos__conteudo i{
    font-size: 3rem;
}

.beneficios{
    padding: 2% 15%;
    display: flex;
    justify-content: center;
    gap: 4%;
}

.beneficios img{
    width: 55%;
    border-radius: 10px;
}

.beneficios__conteudo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}

.beneficios__conteudo h1 {
    font-size: 3rem;
}

.beneficios__conteudo__button button{
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.titulo__planos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titulo__planos h2{
    font-size: 2.5rem;
}

.titulo__planos button {
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.planos{
    padding: 2% 15%;
}

.planos__conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.planos__conteudo__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5%;
    width: 300px;
    height: 370px;
    background: linear-gradient(50deg,#00002E,#00003E);
    border-radius: 10px;
    box-shadow: 1px 2px 10px white;
}

.texto__discover{
    font-size: 0.9rem;
}

.planos__conteudo__container strong{
    font-size: 5rem;

}

.planos__conteudo__container ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.planos__conteudo__container button{
    color: white;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.segundo {
    height: 450px;
}

.depoimentos{
    padding: 2% 10%;
}

.depoimentos__conteudo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.depoimentos__conteudo__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.depoimentos__conteudo__titulo h1{
    font-size: 3rem;
}

.container__depoimentos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container__depoimentos__conteudo{
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    background: linear-gradient(50deg,#00002E,#00003E);
    border-radius: 10px;
    box-shadow: 1px 2px 10px white;
    gap: 15px;
    width: 28%;
}

.container__depoimentos__conteudo__foto{
    display: flex;
}
.depoimentos__conteudo__foto__perfil{
    width: 100px;
}

.depoimentos__conteudo__foto__empresa{
    width: 100px;
}

.sobrenos{
    padding: 2% 10%;
}

.sobrenos__conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sobrenos__container__imagem{
    display: flex;
    gap: 10px;
}

.sobrenos__container__imagem img {
    width: 300px;
    height: 420px;
    object-fit: cover;
    border-radius: 15px;
}

.sobrenos__container__texto{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
}

.texto__titulo h2{
    font-size: 3rem;
}

.texto__sobrenos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button__sobrenos button{
    color: black;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.rodape{
    padding: 0.5% 15%;
    backdrop-filter: blur(5px);
}

.conteudo__rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo__rodape__logo img{
    width: 150px;
}

.conteudo__rodape__nav{
    list-style-type: none;
}

.conteudo__rodape__nav li a{
    text-decoration: none;
}

.perguntas{
    padding: 2% 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 5px solid white;
}

.titulo__perguntas {
    text-align: center;
    font-size: 3rem;
}

.conteudo__perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container__perguntas{
    display: flex;
    flex-direction: column;
    width: 55%;
    border-bottom: 1px solid white;
}

.container__perguntas h2{
    font-size: 2rem;
}

.conteudo__perguntas__pergunta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.conteudo__perguntas__resposta{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.conteudo__perguntas__resposta p{
    font-size: 1.2rem;
}

.container__perguntas.active .conteudo__perguntas__resposta{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.container__perguntas.active i {
    transform: rotate(180deg);
}

i{
    transition: 0.5s ease-in;
    cursor: pointer;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}